<h1>New Call Log</h1>
<h2>Call log for <%=@customer.name %></h2>

<%= form_for([@customer, @call_log]) do |f| %>
    <% if @call_log.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@call_log.errors.count, "error") %> prohibited this call_log from being saved:</h2>

          <ul>
            <% @call_log.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="field">
      <%= f.label :calldate %>
      <%= f.date_select :calldate, :order => [:month, :day, :year] %>
    </div>

    <div class="field">
      <%= f.label :caller %>
      <%= f.text_field :caller %>
    </div>

    <div class="field">
      <%= f.label :comments %>
      <%= f.text_area :comments %>
    </div>



    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
