<div class="container">
  <div class="row"><h1> Customer Details and History </h1></div>

  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">

      <li>
        <i class="fa fa-home" aria-hidden="true">
          <%= link_to 'Home', customers_path %>
        </i>
      </li>
      <li><i class="fa fa-pencil-square-o" aria-hidden="true">
        <%= link_to 'Edit customer', edit_customer_path(@customer) %>
      </i>
      </li>
      <li>
        <i class="fa fa-phone" aria-hidden="true">
          <%= link_to 'Log a Call', new_customer_call_log_path(@customer) %>
        </i>
      </li>
      <li>
        <i class="fa fa-calendar" aria-hidden="true">
          <%= link_to 'Make an appointment', new_customer_appointment_path(@customer) %>
        </i>
      </li>
    </ul>
  </div>
  <div class="col-md-8 col-md-offset-1 main">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <% if !@customer.account %>
          <div class="col-md-2 btn btn-default btn-xs pull-right">
            <%= link_to 'Convert to account', edit_customer_path(@customer) %>
          </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-3">
        <strong>Name:</strong>
      </div>
      <div class="col-md-4">
        <%= @customer.name %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <strong>Home phone:</strong>
      </div>
      <div class="col-md-4">
        <%= @customer.home_phone %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <strong>Cell phone:</strong>
      </div>
      <div class="col-md-4">
        <%= @customer.cell_phone %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
      <strong> Cutomer status:</strong>
        </div>
      <div class="col-md-4">
      <% if @customer.account %>
          <div> Account</div>

      <% else %>
          <div> Lead</div>
      <% end %>
        </div>
    </div>
    <hr/>
    <div class="row">
      <h3>Call Logs</h3>
    </div>
    <% if @customer.call_logs.exists? %>
        <div class="row">
          <div class="col-md-3">
            <strong> Date Called</strong>
          </div>
          <div class="col-md-3">
            <strong> Staff</strong>
          </div>
          <div class="col-md-4">
            <strong> Notes / Comments</strong>
          </div>

        </div>
        <% @customer.call_logs.each do |call_log| %>
            <div class="row">
              <div class="col-md-3"><%= formatted_date(call_log.calldate) %></div>
              <div class="col-md-3"><%= call_log.caller %> </div>
              <div class="col-md-4"><%= call_log.comments %> </div>
            </div>
        <% end %>
    <% else %>
        <div class="row">
          No call logs created
        </div>
    <% end %>
    <div class="row">
      <h3>Appointments</h3>
    </div>
    <% if @customer.appointments.exists? %>
        <div class="row">
          <div class="col-md-3">
            <strong>Appointment Date</strong>
          </div>
          <div class="col-md-3">
            <strong> Location</strong>
          </div>
        </div>
        <% @customer.appointments.each do |appt| %>
            <div class="row">
              <div class="col-md-3"><%= formatted_date_time (appt.appointment) %></div>
              <div class="col-md-3"><%= appt.location %></div>
            </div>
        <% end %>
    <% else %>
        <div class="row">
          No appointments created
        </div>
    <% end %>

  </div>
</div>

